
*.jsonl
*.jsonl.gz
*.gz


data/candidate_texts.csv

models/*.npy
*.npy
*.index
*.faiss
*.bin

.ipynb_checkpoints/
*/.ipynb_checkpoints/

__pycache__/
*.py[cod]
*$py.class


venv/
env/
.env
.venv

.DS_Store
._*
Thumbs.db



